<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <title>PicShare</title>
    <style>
      img {
        border: 3px red solid;
      }
      z * {
        font-family: "Piazzolla", serif;
      }
    </style>
  </head>

  <body style="text-align: center">
    <h1><%=name %></h1>
    <img
      src="data:image/<%=image.contentType%>;base64, 
					<%=image.data.toString('base64')%>"
    />
    <%if (title===""){%> <%title="Someone has shared Anonymously"%>
    <p><%=title%></p>
    <%}else{%>
    <p>Posted by <%=title%></p>
    <%}%>
  </body>
</html>
